<a href="https://colab.research.google.com/github/efkomarova/Sirius/blob/main/Komarova_Ekaterina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task 1

Задача 1*
Дано пятизначное число. Найдите произведение его цифр.
Пример ввода:
14962
Пример вывода:
432

In [ ]:
number = int(input("Введите пятизначное число: "))

product = 1
for digit in str(number):
    product *= int(digit)

print("Произведение числа =", product)

Введите пятизначное число: 12345
Произведение числа = 120

#Task 2

Задача 2*
Дано шестизначное число. Найдите суммы его четных и нечетных элементов. Образуйте из них этих сумм одно число и выведите его на экран
Пример ввода:
531893
Пример вывода:
1514

In [ ]:
number = int(input("Введите шестизначное число: "))

chet_sum = 0
nechet_sum = 0
for digit in str(number):
    digit = int(digit)
    if digit % 2 == 0:
        chet_sum += digit
    else:
        nechet_sum += digit

result = f"{chet_sum}{nechet_sum}"
print("Сумма четных и нечетных элементов числа =",result)

Введите шестизначное число: 121212
Сумма четных и нечетных элементов числа = 63

#Task 3

Задача 3*
Вводится натуральное число N, а затем N чисел. Найти средее арифметическое всех чисел кратных 3. Если таких чисел нет, то вывести -1
Пример ввода:
6
6
3
2
42
5
12
Пример вывода:
15.75

In [ ]:
n = int(input("Введите количество чисел "))
sum_ = 0
count = 0
for _ in range(n):
  tmp = int(input("Введите число "))
  if tmp % 3 == 0:
    sum_ += tmp
    count += 1
if count == 0:
  print(-1)
else:
  print("Cредее арифметическое всех чисел кратных 3 =", f"{sum_ / count}")

Введите количество чисел 6
Введите число 6
Введите число 3
Введите число 2
Введите число 42
Введите число 5
Введите число 12
Cредее арифметическое всех чисел кратных 3 = 15.75

#Task 4

Задача 4*
Дано натуральное число A > 1. Определите, каким по счету числом Фибоначчи оно является, то есть выведите такое число n, что φn=A. Если А не является числом Фибоначчи, выведите число -1.
Пример ввода:
8
Пример вывода:
6

In [ ]:
a = int(input("Введите натуральное число > 1 "))

def fibonacci(n:int) -> int:
  f1,f2 = 0,1
  if n == 0:
      return 0
  elif n == 1:
      return 1
  else:
      return fibonacci(n-1) + fibonacci(n-2)


def chek_fibonacci(number:int) -> int:
  n=0
  while fibonacci(n) <= number:
    n += 1
  if fibonacci(n-1) == number:
    return n-1
  else:
    return -1

print("По счету числом Фибоначчи оно является ",chek_fibonacci(a))

Введите натуральное число > 1 8
По счету числом Фибоначчи оно является  6

#Task 5

Задача 5*
По данному числу N распечатайте все целые значения степени двойки, не превосходящие N, в порядке возрастания.
Пример ввода:
50
Пример вывода:
1 2 4 8 16 32

In [ ]:
N = int(input("Введите число: "))

power = 1
while power <= N:
    print(power, end=" ")
    power *= 2

Введите число: 50
1 2 4 8 16 32

#Task 6

Задача 6*
Сначала на вход поступает длина последовательности N. Затем элементы последовательности – целые числа. Напишите программу, которая подсчитывает количество положительных чисел среди элементов последовательности.
Пример ввода:
5
1
2
3
-1
-4
Пример вывода:
3

In [ ]:
N = int(input("Введите длину последовательности: "))

numbers = []
for _ in range(N):
    numbers.append(int(input()))

positive_count = sum(1 for num in numbers if num > 0)

print(positive_count)

Введите длину последовательности: 5
1
2
3
-1
-4
3

#Task 7

Задача 7*
Последовательность состоит из натуральных чисел и завершается числом 0. Определите количество элементов этой последовательности, которые равны ее наибольшему элементу.
Пример ввода:
1
3
3
1
0
Пример вывода:
2

In [ ]:
max_el = int(input("Введите число "))
count = 1
tmp = max_el
while tmp != 0:
  tmp = int(input("Введите число "))
  if tmp == max_el:
    count +=1
  elif tmp > max_el:
    count = 1
    max_el = tmp

print(count)

Введите число 1
Введите число 3
Введите число 3
Введите число 1
Введите число 0
2

#Task 8

Задача 8*
Напишите функцию my_sort, которая принимает двумерный массив n x n, а возвращает элементы массива, расположенные от самых крайних элементов до среднего элемента, таким образом, чтобы происходило перемещение по часовой стрелке.
То есть функция должна преобразовывать array = [ [1,2,3], [4,5,6], [7,8,9] ]
my_sort(array) #=> [1,2,3,6,9,8,7,4,5]
Еще один пример работы функции:
array = [ [1,2,3], [8,9,4], [7,6,5] ] my_sort(array) #=> [1,2,3,4,5,6,7,8,9]

In [ ]:
n = int(input("Размер матрицы (n x n): "))

matrix = []
for i in range(n):
    row = []
    for j in range(n):
        element = int(input(f"Введите элемент [{i},{j}] матрицы: "))
        row.append(element)
    matrix.append(row)

def spiral_traverse(matrix):
    result = []
    top, bottom = 0, len(matrix) - 1
    left, right = 0, len(matrix[0]) - 1

    while top <= bottom and left <= right:
        for col in range(left, right + 1):
            result.append(matrix[top][col])
        top += 1

        for row in range(top, bottom + 1):
            result.append(matrix[row][right])
        right -= 1

        if top <= bottom:
            for col in reversed(range(left, right + 1)):
                result.append(matrix[bottom][col])
            bottom -= 1

        if left <= right:
            for row in reversed(range(top, bottom + 1)):
                result.append(matrix[row][left])
            left += 1

    return result

spiral_order = spiral_traverse(matrix)
print(spiral_order)

Размер матрицы (n x n): 3
Введите элемент [0,0] матрицы: 1
Введите элемент [0,1] матрицы: 2
Введите элемент [0,2] матрицы: 3
Введите элемент [1,0] матрицы: 4
Введите элемент [1,1] матрицы: 5
Введите элемент [1,2] матрицы: 6
Введите элемент [2,0] матрицы: 7
Введите элемент [2,1] матрицы: 8
Введите элемент [2,2] матрицы: 9
[1, 2, 3, 6, 9, 8, 7, 4, 5]

#Task 9

Задача 9*
Создайте класс Laptop, у которого есть:
•	Конструктор, принимающий 3 аргумента: бренд, модель и цену ноутбука. На основании этих аргументов нужно для экземпляра создать атрибуты brand, model, price и также атрибут laptop_name — строковое значение, следующего вида: « brand model>»
•	Метод laptop_name возврашающий аналогичное значение поля.
In [ ]:

hp = Laptop('hp', '15-bw0xx', 57000)
print(hp.price) # выводит 57000
print(hp.laptop_name()) # выводит "hp 15-bw0xx"

In [ ]:
class Laptop:
  brand: str
  model: str
  price: int
  __laptop_name: str

  def __init__(self, brand: str, model: str, price: int):
    self.brand = brand
    self.model = model
    self.price = price
    self.__laptop_name = brand + " " + model

  def laptop_name(self) -> str:
    return  self.__laptop_name


hp = Laptop('hp', '15-bw0xx', 57000)
print(hp.price) # выводит 57000
print(hp.laptop_name()) # выводит "hp 15-bw0xx"

57000
hp 15-bw0xx

#Task 10

Задача 10*
Нужно создать функционал для упрошенного описания экономических отношений между работодателем, работником и компанией. Нужно реализовать классы Director, Employee, Company, Promise.
У компании должен быть метод, позволяющей получить прибыль условных единиц (flot). У Компании всегда есть только один Director, количество Employee не ограниченно. Также у компании должен быть метод позволяющий начислить зарплату всем ее работникам, согласно Promise каждого сотрудника компании.
У всех работников компании есть контракт с компанией о размере его заработной плате – Promise, а также есть имена, фамилии и номера СНИЛС(Id)
Promise - содержит в себе СНИЛС(Id) работника, размер его зарабтной платы, и информацию о том, была ли начисленна плата сотруднику
set_profit - метод, устанваливающий прибыль всей компании за некоторый промежуток времен.
fulfill_promise – метод, начисялющий всем заработную плату согласно персональному Promise каждого работника, если это возможно. Возвращает булевое значение
Замечание: метод set_profit устанавливает прибыль для комании. Компания в свою очередь, пытается выплатить заработную плату всем сотрудникам компании методом fulfill_promise. Если баланса компании хватает на выплаты всем участникам компании, то fulfill_promise возвращает true, в противном случаее false
Пример кода, который должен работать
vk = Company(balance=50)
vk.create_director(
  first_name = "Владимир",
  second_name = "Кириенко",
  Id = 1,
  salary = 15
  )

vk.create_employee(
  first_name = "Елена",
  second_name = "Иванова",
  Id = 2,
  salary = 8
)

vk.create_employee(
  first_name = "Виктор",
  second_name = "Кузнецов",
  Id = 3,
  salary = 6
)

vk.set_profit(145.12)
vk.fulfill_promise()

director = vk.director()
director.check_promises() # true

vk.set_profit(-200)
vk.fulfill_promise()

director.check_promises() # false

In [ ]:
class Employee:
    def __init__(self, first_name, second_name, employee_id, salary):
        self.first_name = first_name
        self.second_name = second_name
        self.employee_id = employee_id
        self.salary = salary
        self.paid = False

    def pay_salary(self):
        self.paid = True

class Company:
    def __init__(self, initial_balance=0):
        self.balance = initial_balance
        self.employees = []

    def hire_employee(self, employee):
        self.employees.append(employee)

    def set_profit(self, profit):
        self.balance += profit

    def pay_all_employees(self):
        total_salary = sum(employee.salary for employee in self.employees)
        if self.balance >= total_salary:
            for employee in self.employees:
                employee.pay_salary()
            return True
        return False

# Пользователь вводит начальный баланс компании
balance = int(input("Начальный баланс компании: "))
company = Company(balance)

# Сотрудники и директор
director_first_name = input("Имя директора: ")
director_second_name = input("Фамилия директора: ")
director_id = int(input("ID директора: "))
director_salary = int(input("Зарплата директора: "))
director = Employee(director_first_name, director_second_name, director_id, director_salary)
company.hire_employee(director)

employee_count = int(input("Количество сотрудников: "))
for i in range(employee_count):
    first_name = input(f"Имя сотрудника {i+1}: ")
    second_name = input(f"Фамилия сотрудника {i+1}: ")
    employee_id = int(input(f"ID сотрудника {i+1}: "))
    salary = int(input(f"Зарплата сотрудника {i+1}: "))
    company.hire_employee(Employee(first_name, second_name, employee_id, salary))

# Устанавливаем прибыль компании
profit = int(input("Прибыль компании: "))
company.set_profit(profit)

# Выплачиваем зарплаты
paid_status = company.pay_all_employees()
if paid_status:
    print("Зарплаты выплачены.")
else:
    print("Недостаточно средств для выплат.")

Начальный баланс компании: 10000
Имя директора: Гена
Фамилия директора: Горбатый
ID директора: 356
Зарплата директора: 9999
Количество сотрудников: 1
Имя сотрудника 1: Перс
Фамилия сотрудника 1: Пирс
ID сотрудника 1: 345
Зарплата сотрудника 1: 100
Прибыль компании: 100
Зарплаты выплачены.